body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.auth-bottom-ref {
  text-decoration: none;
  margin-left: 6px;
}

.auth-bottom {
  display: flex;
  margin-top: 2em;
}
